 .container {
    border: 2px solid #ADD8E6;
    width: 700px;
    margin: 0 auto;
    height: 550px;
}

.info-col {
    display: flex;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
}

label {
    width: 120px;
    text-align: center;
    margin-bottom: 0px;
    margin-left:30px
}

input,
select {
    border: 1.5px solid #2e8bc0;
    background-color: #b5c8ef;
    width: 60%;
}


#submit {
    background-color:  #7DA8FF;
    border-radius: 10px;
    width: 25%;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    margin: 10px 250px;
    color: white;

}

.row{
    display: flex;
    justify-content: space-between;
    padding : 0 20px
} 
.row button{
    background-color: #7DA8FF; 
    border-radius: 6px; 
    color:white;
    border: 1.5px solid #2e8bc0;
    width: 100px;
}

th,td{
    padding:5px 25px;
}

button.btn{
    background-color: #b5c8ef; 
    border-radius: 6px; 
    color:white;
    border: 1.5px solid #2e8bc0;

}

#backDiv {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    position: center;
    display:flex;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.infoDiv {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}

#label::after {
    content: "*";
    color: red;
}

.info {
    padding: 5px;
    text-align: center;
    margin-left:10%;
}

#btnDiv {
    height: 35px;
    margin-bottom:5%;
}
#label {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

#labelH {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

.fillLabel {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
    margin-bottom: 0px;
    block-size: fit-content;
}
#input {
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#img {
    border: 2px solid #fdfdfd;
    margin-left:10%;
    width:55%;
}
#inputdate{
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#radioBtn {
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv {
    text-align: center;  
}
#error {
    color: red; 
}
#submitId {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    background-color: #70ad47;
}
.imgInfo {
    margin-left: 50px;

}
.imgShow {
    margin-left:10%;
}
#cfmBtn {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom:5%;
}